.less .less_logo, .less .slides > article:not(.nobackground):not(.less_logo) {
	background:#fff url(less_logo.png) 50% 50% no-repeat;
}
.less .slides > article:not(.nobackground):not(.less_logo)  {
	background-position:97% 97%;
	 -webkit-background-size:10%;
	  -khtml-background-size:10%;
		-moz-background-size:10%;
		  -o-background-size:10%;
			 background-size:10%;
}
.less .slides > article {
	font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
}
.less .pos_st {
	position:static;
}
.less .slide2 h1{
	margin-top:160px;
}
.last_slide h1 {
	text-align:center;
}
.less .last_slide p {
	text-align:center;
	text-indent:0;
	padding:0;
}
.less h3{
	font-size:38px;
	line-height:42px;
	margin-bottom:30px;
}
.less ul ul {
	margin-left:40px;
}
.less p {
	text-indent:40px;	
}
.less .slide4 h3{
	margin-bottom:70px;
}/*
.less .black .lit{
	color:#000;
}
.less .value .lit, .less .value .pln, .less .value .com{
	color:#390;
	font-style:normal;
}
.less .attribute .pln, .less .attribute .pun{
	color:#2F98FF;
}*/
.less .pln, .less .pun, .less .com, .less .lit , .less .typ  , .less .str , .less .kwd {
	color:#000 !important;
	font-style:normal !important;
}